body {
    background: #111;
    color: #17b22b;
    font-family: Consolas, Courier, monospace;
    font-size: 16px;
    text-shadow: 0 0 15px #0f711b;
    height: 100%;
}

a {
    text-decoration: none;
}

.banner{
    font-size: 10px;
}

.fig_banner, .fig_desc{
    display: flex;
    justify-content: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}


.banner_desc{
    font-size: 3px;
}

.visible_no_trans {
    visibility: visible;
    opacity: 1;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #1f1f1f;
}

.navul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #111;
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    border-style: none none solid none;
    border-color: rgb(38, 38, 38);
  }
  
  .navli {
    float: left;
  }
  
  .navli a {
    display: block;
    color: #17b22b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 0 0 15px #0f711b;
  }
  
  .navli a:hover {
    background-color: rgb(38, 38, 38);
  }